<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css">
  .title25 { width: 25%; }
  .title50 { width: 40%; }
  .left {  text-align: left; }
  .center {  text-align: center; }
  .right {  text-align: right; }
  .color_white { background-color: #fff; }
  .color_blue  { background-color: #99f; }
  .font_s { font-size: 8; }
  .font_m { font-size: 12; }
  .font_l { font-size: 30; }
  .pad_l { padding-left: 30; }
  table, th, td {
    border: none;
}
</style>
</head>
<body class="color_white">
  <table width="100%" cellpadding="10" cellspacing="10">
    <tr class="title50">
    <th>確認書[オッケーしてね]</th><th>ID </th><th>名前 </th>
  </tr>
   <tr class="title50">
    <th>確認書[オッケーしてね]</th><th>味</th><th>色</th>
  </tr>
  </table>
  <div>
     <h2 class="title50 font_s center ">ユーザーネーム</h2>
      <div class="title25 font_s center ">email</div>
  </div>
</body>
</html>